* {
  padding: 0;
  margin: 0;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.App {
  background: linear-gradient(rgb(23,36, 44), rgb(16, 15, 20));
  border-style: solid;
  border-color: #013e53;
  border-width: 5px;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 116px;
}

.App-header {
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.userInput {
  width: 60%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.registerDiv {
  background: linear-gradient(rgb(23,36, 44), rgb(16, 15, 20));
  border-style: solid;
  border-color: #013e53;
  border-width: 5px;
  padding: 12px 20px;
  margin: 10px 0;
  text-align: center;
}

.registerDiv li{
  color: white;
}

.registerDiv li a{
  color: white;
  text-decoration:  none;
}
.registerDiv li a:hover{
  color: white;
  text-decoration: none;
}

.homeButton {
  font-size: 20px;
  margin: 8px;
}
.info-paragraph {
  padding-top: 8px;
  font-size: 12px;
  color: white;
}

.roomIdList {
  list-style-type: none;
}

.roomID {
  background-color: pink;
}

.roomID li {
  font-size: 24px;
}
