* {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.App {
  background: linear-gradient(rgb(23,36, 44), rgb(16, 15, 20));
  border-style: solid;
  border-color: #013e53;
  border-width: 5px;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 116px;
}

.App-header {
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.user-input {
  width: 60%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.register-div {
  background: linear-gradient(rgb(23,36, 44), rgb(16, 15, 20));
  border-style: solid;
  border-color: #013e53;
  border-width: 5px;
  color: white;
  padding: 12px 20px;
  margin: 10px 0;
  text-align: center;
}
.register-div .btn {
  margin-right: 10px;
}

.register-div li{
  color: white;
}

.register-div li a{
  color: white;
  text-decoration:  none;
}
.register-div li a:hover{
  color: white;
  text-decoration: none;
}

.home-button {
  font-size: 20px;
  margin: 8px;
}

.home-button a{
  color: white;
  text-decoration: none;
}
.info-paragraph {
  padding-top: 8px;
  font-size: 12px;
  color: white;
}

.room-ID-list {
  list-style-type: none;
}

.room-ID {
  background-color: pink;
}

.room-ID li {
  font-size: 24px;
}

.success {
  color: blue;
}

.disconnect {
  color: red;
}

.wrap {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1024px;
  width: 100%;
}
.nav {
  border-top: 3px solid #0098ff;
  background: #1f2631;
  color: #cfd5dc;
  display: flex;
  height: 58px;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.link {
  letter-spacing: .01em;
  padding-right: 26px;
}

.links {
  align-items: center;
  border-left: 1px solid hsla(0, 0%, 93%, .16);
  display: inline-flex;
  font-size: 1.3rem;
  height: 30px;
  margin-left: 20px;
  padding-left: 20px;
  text-transform: capitalize;
  width: calc(100% - 104px);
}

.logo {
  align-items: center;
  display: inline-flex;
  height: 55px;
  justify-content: center;
  width: 65px;
}

.logo img{
  height: 50px;
  width: 50px;
}
.logout {
  margin-left: auto;
  margin-right: 15px;
  font-size: 1.3rem;
}

.page-content {
  min-height: 100vh;
  margin-top: 58px;
  overflow: hidden;
}
