src/server/frontEnd/node_modules
src/server/frontEnd/public
src/server/node_modules
src/server/.nyc_output
src/server/logs/**
**/.DS_Store
**/*.log
src/server/out
src/server/config.json
./package-lock.json
src/server/public
coverage
src/server/.tests/cypress/videos
src/server/.tests/cypress/screenshots
src/server/frontEnd/coverage.lcov