@tailwind preflight;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
}

.max-screen-height {
  height: 100vh;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.App {
  background: linear-gradient(rgb(23,36, 44), rgb(16, 15, 20));
  border-style: solid;
  border-color: #013e53;
  border-width: 5px;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 116px;
}

.App-header {
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.user-input {
  width: 60%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.register-div {
  background: linear-gradient(rgb(23,36, 44), rgb(16, 15, 20));
  border-style: solid;
  border-color: #013e53;
  border-width: 5px;
  color: white;
  padding: 12px 20px;
  margin: 10px 0;
  text-align: center;
}
.register-div .btn {
  margin-right: 10px;
}

.register-div li{
  color: white;
}

.register-div li a{
  color: white;
  text-decoration:  none;
}
.register-div li a:hover{
  color: white;
  text-decoration: none;
}

.home-button {
  font-size: 20px;
  margin: 8px;
}

.home-button a{
  color: white;
  text-decoration: none;
}
.info-paragraph {
  padding-top: 8px;
  font-size: 12px;
  color: white;
}

.room-ID-list {
  list-style-type: none;
}

.room-ID li {
  font-size: 24px;
}

.success {
  color: blue;
}

.disconnect {
  color: red;
}

.y-scroll {
  overflow-y: scroll;
}

.notification {
  position: absolute;
}